@media screen and (min-width: 1600px) {
    .capital-trading__image {
        width: 47%;
    }
}

@media screen and (max-width: 1440px) {
    .trade-anywhere__contentBlocks {
        flex-direction: column;
    }

    .second-line {
        display: none;
    }
}

@media screen and (max-width: 1364px) {
    .capital-trading__image {
        margin: 0 0 0 auto;
    }

    .accordion-block {
        flex-direction: column;
    }

    .capital-trading__title, .switch-platform-block {
        flex-direction: column;
    }

    .accordion {
        width: 100%;
        margin-top: 50px;
    }

    .tabBlock-content {
        max-width: 688px;
    }

    .counter_block {
        margin-right: 5px;
        margin-bottom: 30px;
    }

    .counters_block {
        margin-top: 100px !important;
    }

    .item {
        width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .capital-trading__title {
        display: block;
    }

    .screen-tablet {
        display: block;
        width: 100%;
    }

    nav.footer__nav.nav.dt {
        flex-direction: column;
        align-items: inherit;
    }

    .footer-nav-block {
        display: flex;
        max-width: 688px;
        justify-content: space-between;
    }

    .footer__nav a {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1334px) {
    .accordion-header {
        display: none;
    }

    .header-menu-navigation {
        min-width: 565px;
    }
}

@media screen and (max-width: 1245px) {
    .tradeEverywhere__blockInformation {
        display: flex;
        flex-direction: column-reverse;
    }

    .solve_block {
        flex-direction: column;
        align-items: inherit;
    }

    .header-menu-navigation {
        min-width: 500px;
    }

    .takeiteasy-block {
        padding-bottom: 438px;
    }

    .counter {
        width: 239px;
    }

    .why_block {
        flex-direction: column;
        align-items: inherit;
    }

    .why_block_content {
        margin: 0;
    }

    h2.section__title.why-title {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .anim1 {
        top: 20px;
        right: 5%;
    }

    .anim2 {
        bottom: 20px;
        left: 10%;
    }

    .anim3 {
        top: 20px;
        right: 10%;
        width: 150px;
    }

    .anim4 {
        top: auto;
        bottom: 226px;
        left: 0;
        width: 120px;
    }

    .anim5 {
        bottom: 67px;
        right: 20%;
        width: 120px;
        left: auto;
    }

    .family-img-block {
        max-width: 70%;
        padding-bottom: 80px;
    }

    .family-blockInformation {
        flex-direction: column;
    }

    .list-item {
        max-width: 419px !important;
    }

    .startTrading-blockSteps__list .item__text {
        max-width: 329px;
    }

    .list__item {
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .phone-img {
        margin: 0 0 58px auto;
    }

    .capital-trading__image {
        width: 44%;
    }
}

@media screen and (max-width: 1200px) {
    .descMenu {
        display: none;
    }

    .main-logo-burger {
        display: none;
    }

    .burger-menu-mobile {
        display: none !important;
    }

    .window {
        display: block;
    }

    .counters_block {
        margin: auto;
    }

    .footer-text {
        min-width: inherit;
    }

    .contact-title {
        min-width: inherit;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .info__first, .info__second {
        max-width: 688px;
    }

    .info__first {
        margin-bottom: 40px;
    }

    .tabBlock {
        margin-top: 30px;
    }

    .startTrading-blockSteps__list {
        margin-left: 0px;
    }

    .startTrading-blockSteps__list {
        width: 100%;
    }

    .comment-block {
        flex-direction: column;
    }

    .tabBlock-tabs {
        display: inline-block;
        position: absolute;
        bottom: -24px;
        left: -6px;
    }

    .startTrading-blockSteps__list .list__item:nth-child(1), .startTrading-blockSteps__list .list__item:nth-child(2) {
        margin-bottom: 0px !important;
    }

    .info__first, .info__second {
        width: 100%;
    }

    .footer .item__title {
        max-width: 100%;
    }

    .footer-text {
        margin-top: 30px;
    }

    .accordion {
        width: 100%;
    }

    .trade-anywhere__title--firstRow {
        font-size: 70px;
        line-height: 49px;
    }

    .trade-anywhere_main-title {
        font-size: 76px;
        line-height: 95px;
    }

    .accordion {
        display: block;
    }

    .accordion div {
        max-width: inherit;
    }
}

@media screen and (max-width: 1170px) {
    .capital-trading__flex-block {
        flex-direction: column;
    }

    .trade-anywhere__contentBlocks {
        margin-bottom: 120px;
    }

    .capital-trading__blockText {
        max-width: 80%;
    }

    .capital-trading__sign {
        margin-bottom: 85px;
    }

    .mob {
        display: block;
    }

    .capital-trading__title--text {
        font-size: 52px;
        line-height: 67px;
    }
}

@media screen and (max-width: 1100px) {
    input {
        width: 688px;
    }

    .switch-platform-block {
        padding-top: 100px;
    }

    .contact-title-bottom {
        display: none;
    }

    .footer .item__subtitle {
        max-width: 95%;
    }

    .footer-text-content {
        width: auto;
    }

    .content-mainBlock-mac {
        padding-bottom: 67px !important;
    }

    .main__contacts {
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }

    .cell:first-child {
        margin-bottom: 0px;
    }

    .trade-anywhere_main-title {
        font-size: 61px;
        line-height: 70px;
    }

    .startTrading, .about{
        padding-top: 100px;
    }

    .trajectory img {
        width: 50%;
        margin: 0 auto;
    }

    .startTrading__blockInformation {
        padding-bottom: 100px;
    }

    .content-mainBlock-tablet {
        padding-bottom: 67px !important;
    }

    .desctop {
        display: none;
    }

    .comment-section-title {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .issues-blocks {
        margin: 0 auto;
        display: block;
    }

    .carousel-content-first {
        display: flex;
        justify-content: space-between;
    }

    .comment-block {
        max-width: 574px;
    }

    .mob-owl .owl-nav {
        top: inherit;
        bottom: 0;
    }

    .carousel-content-second {
        width: 65%;
        margin-top: 100px;
    }

    .mob-item {
        display: block;
    }

    .mob-owl {
        display: block !important;
    }

    .solve_block {
        display: block;
    }

    .mobile {
        display: block;
    }

    .accordion-block {
        flex-direction: column;
    }

    nav.footer__nav.nav.dt {
        flex-direction: column;
        align-items: inherit;
    }

    .accordion-header {
        display: none;
    }

}

@media screen and (max-width: 1052px) {
    .easy-trading {
        display: none;
    }

    .help-title {
        max-width: 680px;
    }

    .main-accordion-block {
        margin-top: 100px;
    }

    .counter_block {
        width: auto;
    }

    .boxSteps {
        flex-direction: column;
    }

    .step {
        margin-bottom: 70px;
    }

    .counter_block_secondRow {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 890px) {

    .accordion-toggle {
        margin: 0 20px 0 20px;
    }

    .how-to_image {
        position: absolute;
        left: -12%;
        bottom: 0;
    }

    .accordion-content {
        margin-left: 52px;
    }

    .how-to-inner_content {
        position: relative;
    }

    .startTrading__blockInformation {
        padding-bottom: 695px;
        width: 100%;
    }

    .startTrading-blockSteps__list .item__text {
        width: 100%;
        max-width: inherit;
    }

    .accordion-num {
        margin-right: 0px;
    }

    .accordion-content p {
        padding-left: 20px;
    }
    .accordion-toggle {
        line-height: 26px;
    }

    .main-title {
        font-size: 73px;
        line-height: 70px;
    }

    .capital-trading__title--text {
        font-size: 52px;
        line-height: 67px;
    }

    .trade-anywhere_main-title {
        font-size: 61px;
        line-height: 70px;
    }

    .owl-nav {
        top: inherit;
    }

    .list__item {
        flex-direction: column;
        align-items: inherit;
    }

    .how-to-start-content {
        padding-top: 34px;
        width: 80%;
    }
}

@media screen and (max-width: 880px) {
    .tradeEverywhere__img {
        margin: auto !important;
        text-align: center;
        width: 100%;
    }

    .tradeEverywhere__img img {
        width: 100%;
    }

    .tradeEverywhere__first-block {
        margin-right: 0px;
    }

    .item {
        width: 100%;
    }

    tr td {
        padding: 18px 20px 18px 20px !important;
    }
}

@media screen and (max-width: 840px) {
    .easy-title {
        min-width: inherit;
    }

    .acc-main-title span {
        display: none;
    }

    .trade-anywhere__mainTitle {
        padding-bottom: 60px;
    }

    .accordion-content p {
        padding-right: 20px;
    }

    .trade-anywhere_main-title {
        font-size: 54px;
        line-height: 70px;
    }

    .light-container {
        padding: 0 40px;
    }

    .logo-link {
        padding-left: 40px;
    }

    .burger-container {
        margin-right: 40px;
    }

    .footer {
        padding-top: 100px;
    }

    .list__item:nth-child(3), .list__item:nth-child(7) {
        flex-direction: column;
    }

    .comment-text {
        font-size: 18px;
        line-height: 28px;
    }

    .trajectory {
        display: none;
    }

    .carousel-content-first {
        flex-direction: column;
    }

    .owl-carousel .owl-item img {
        width: inherit;
    }
}

@media screen and (max-width: 768px) {
    .item {
        flex-direction: column;
    }

    .comment-block {
        margin-top: 60px;
    }

    .owl-theme .owl-nav {
        margin-top: 30px;
    }

    .solve_block {
        margin-top: 160px;
    }

    .myCapitalTrading-blockText__text {
        max-width: 307px;
    }

    .review-text {
        font-size: 20px;
        line-height: 34px;
    }

    .review-text {
        max-width: 419px;
    }

    .comment-section {
        margin-bottom: 0px !important;
    }

    .mob {
        width: 600px;
    }

    .logo-mob {
        display: block;
    }

    .logo-link {
        padding-left: 40px;
    }

    .burger-container {
        margin-right: 40px;
    }

    .capital-trading__title--text {
        font-size: 58px;
        line-height: 56px;
    }

    .capital-trading__title--firstRow {
        margin-bottom: 17px;
    }

    .capital-trading__blockText {
        max-width: 100%;
    }

    .myCapitalTrading-blockText__text {
        font-size: 18px;
        line-height: 26px;
    }

    .acc-title h4 {
        line-height: 26px;
    }

    .capital-trading__title--text {
        font-size: 49px;
        line-height: 50px;
    }

    .trade-anywhere_main-title {
        font-size: 56px;
        line-height: 60px;
    }

    .startTrading-blockSteps__list {
        margin-top: 0px;
    }

    .last-cell {
        max-width: 290px;
    }

    .comment-block {
        width: 90% !important;
    }

    .comment-section-title {
        margin-top: 40px;
    }

}

@media screen and (max-width: 690px) {
    .mob {
        width: 400px;
    }

    .main-title {
        font-size: 57px;
        line-height: 41px;
    }

    .trade-anywhere_main-title {
        line-height: 60px;
    }

    .trade-anywhere__platforms {
        flex-direction: column;
    }

    .trade-anywhere__platforms a {
        padding-bottom: 30px;
    }

    .trade-anywhere__content, .trade-anywhere__contentBlock {
        width: 100%;
    }

    .trade-anywhere__links {
        width: auto;
    }

    .trade-anywhere__platforms {
        width: auto;
    }

    .accordion-num {
        display: none;
    }

    .accordion-content p {
        padding-left: 20px;
    }

    .capital-trading__title--text {
        font-size: 43px;
        line-height: 44px;
    }
}

@media screen and (max-height: 680px) {
    .mob-menu-item {
        margin-top: 24px;
    }

    .mob-menu-item {
        font-size: 16px;
        line-height: 20px;
    }

    .burger-title {
        font-size: 32px;
        line-height: 40px;
    }

    .burger-lang {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-height: 740px) {
    .burger-content-block {
        margin-top: 60px;
    }

    .counter_block_secondRow {
        margin-top: 0px;
    }

    .capital-trading__title {
        padding-top: 90px;
    }

    .startTrading {
        padding-top: 100px;
    }
}

@media screen and (max-height: 600px) {
    .burger-content-block {
        margin-top: 10px;
    }
}

@media screen and (max-width: 680px) {
    .phone-img {
        margin: 71px auto 0 auto;
    }

    .list__links .list-item {
        margin-bottom: 24px;
    }


}

@media screen and (max-width: 641px) {
    .switch-text-block {
        width: auto;
    }

    .content-mainBlock {
        padding-bottom: 0px;
    }

    .acc-sq {
        display: none;
    }

    .acc-title h4 {
        padding-left: 0px;
    }

    .acc-article article {
        padding-left: 0px;
    }

    .trade-anywhere__contentBlocks {
        margin-bottom: 60px;
    }

    .trade-anywhere_main-title {
        font-size: 52px !important;
        line-height: 55px !important;
    }

    .main__contacts {
        padding-top: 0px;
    }

    .issue-block {
        flex-direction: column;
    }

    .issues-blocks-image_block {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {
    .counters_block {
        flex-direction: column;
        margin-top: 90px;
    }

    .strip-img-block-first-block {
        min-height: 20px;
    }

    .counter_block {
        margin-bottom: 0px !important;
    }

    .capital-trading__title--text {
        font-size: 39px;
        line-height: 40px;
    }

    .trade-anywhere_main-title {
        font-size: 47px !important;
    }

    .main__contacts .item__subtitle {
        font-size: 18px;
        line-height: 30px;
    }

    .main__contacts .item__title {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 550px) {
    .main-title {
        font-size: 44px;
        line-height: 25px;
    }

    .capital-trading__title--text {
        font-size: 36px;
        line-height: 44px;
    }

    .trade-anywhere_main-title {
        font-size: 40px !important;
        line-height: 50px !important;
    }

    .mob-menu-item {
        font-size: 16px;
        line-height: 21px;
    }

    .why_block {
        padding-top: 40px;
    }
}


@media screen and (max-width: 479px) {
    .trade-anywhere__mainTitle {
        padding-top: 118px;
    }

    .switch-button {
        padding-left: 10px;
        padding-right: 0px;
    }

    .platforms-first-col {
        width: 234px;
    }

    .main-title {
        font-size: 32px;
        line-height: 11px;
    }

    .trade-anywhere__links {
        flex-direction: column;
    }

    .trade-anywhere__platforms a {
        font-size: 19px;
        line-height: 19px;
    }

    .trade-anywhere_main-title {
        line-height: 48px;
    }

    .ampersand {
        display: none;
    }

    .logo-link {
        padding-left: 20px;
    }

    .burger-container {
        margin-right: 20px;
    }

    #burger {
        width: 36px !important;
    }

    .bar {
        height: 1px !important;
    }

    .capital-trading__title--text {
        font-size: 26px;
        line-height: 36px;
    }

    .word-outline {
        color: #fff;
        -webkit-text-stroke: 0 #FFFFFF;
    }

    .myCapitalTrading-blockText__text {
        font-size: 12px;
        line-height: 20px;
        max-width: 307px;
    }

    .review-text {
        max-width: 419px;
    }

    .capital-trading__sign {
        font-size: 22px;
    }

    .mob {
        width: 100%;
    }

    .acc-wrapper {
        padding: 80px 0;
    }

    .acc-title h4 {
        font-size: 20px;
    }
    .acc-title {
        padding-bottom: 10px;
    }

    .acc__title--border {
        margin-top: 28px;
    }

    .capital-trading__title, .switch-platform-block {
        padding-top: 60px;
    }

    .capital-trading__flex-block {
        margin-top: 30px;
    }

    .accordion-toggle {
        font-size: 20px;
        line-height: 26px;
        color: #fff;
    }

    .accordion {
        padding-bottom: 0px;
    }

    .capital-trading__title--firstRow {
        margin-bottom: 8px;
    }

    .capital-trading__title--secondRow {
        line-height: 47px;
    }

    .trade-anywhere_main-title {
        font-size: 32px !important;
        line-height: 41px !important;
    }

    .instruction__mainTitle {
        padding-top: 60px;
    }

    .boxSteps {
        padding-top: 20px;
    }

    .contact-title {
        width: 280px;
    }

    .footer {
        padding-top: 80px;
    }

    .counter_block {
        margin-right: 0px;
    }

    .counters_block {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .button {
        padding: 16px 34px;
    }
}

@media screen and (max-width: 355px) {
    .trade-anywhere_main-title {
        font-size: 28px !important;
        line-height: 41px !important;
    }

    .term {
        font-size: 13px;
    }
}

@media screen and (max-width: 355px) {

    .arrow {
        right: -63px;
    }
}



@media screen and (max-width: 1300px) {

    .mob-switch-buttons {
        display: flex !important;
        flex-wrap: wrap;
    }

    .tradeEverywhere__flex {
        flex-direction: column;
    }

    .switch-button {
        max-width: 328px;
    }

    .footer-text {
        flex-direction: column;
        margin-top: 0px;
    }

    .footer {
        padding-top: 40px !important;
    }

    .mob-footer-link {
        display: block !important;
    }


    .desc-footer-link {
        display: none;
    }

}

@media screen and (max-width: 1200px) {
    .startTrading__blockSteps{
        padding: 0px;
    }

    .startTrading-blockSteps__list .list__item .item__text{
        width: 100% ;
    }

    .comment-block {
        max-width: 419px;
    }

    .commentator-image {
        display: none !important;
    }

    .commentator-mob-image {
        display: block !important;
    }

    .comment-block {
        width: 68%;
        max-width: inherit;
    }
}

@media screen and (max-width: 1123px) {
    .counter_block {
        width: 49%;
        margin-bottom: 80px;
    }

    .counters_block {
        padding-bottom: 80px;
    }

    .how-to_image img {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {

    .downloadDocuments{
        padding: 0px 0 0 0 !important;
    }

    .wrapper-links{
        margin-top: 60px;
    }

    .wrapper-links .list__links{
        width: 100%;
        margin: 0;
    }

    .wrapper__link{
        width: 85%;
    }

    .capital-trading-flex {
        display: flex;
    }

    .tradeEverywhere__inner {
        flex-direction: column;
    }

}

@media screen and (max-width: 1024px) {
    .blockInformation__boxImg{
        width: 55%;
    }
    .startTrading__blockSteps{
        width: 45%;
    }
    .startTrading__blockTitle{
        width: 100%;
    }

    .content-mainBlock-tablet {
        padding-bottom: 277px !important;
    }

    .capital-trading__image {
        position: absolute;
        right: 0;
        width: 60% !important;
        top: 35%;
    }

    .list__item {
        min-width: 419px;
    }

    .footer-nav-block {
        flex-direction: column;
    }

    .footer__nav a {
        margin-bottom: 24px;
    }

    nav.footer__nav.nav.dt {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 810px) {
    .mob-switch-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 840px) {
    .table-block {
        overflow: scroll;
    }

    .everywhere-block {
        padding-top: 40px !important;
    }

    .section__title {
         font-size: 62px;
         line-height: 80px;
     }
    .blockPhrase__phrase{
        font-size: 55px;
        line-height: 70px;
    }
    .startTrading__list{
        padding-bottom: 24px;
    }

    .item__title {
        font-size: 28px;
        line-height: 36px;
    }

    .startTrading__list .list__item{
        width: 40%;
        align-self: flex-start;
        margin-bottom: 90px;
    }

    .owl-nav {
        position: inherit;
        justify-content: inherit;
        flex-direction: inherit;
    }

    .carousel-content-second {
        margin-top: 40px;
    }

    .take-it-easy-section {
        margin-top: 0px;
    }

    .contactUs__wrapper {
        padding-top: 60px;
    }

}

@media screen and (max-width: 768px) {
    .dark-container,
    .light-container{
        padding: 0 40px;
    }

    .footer .item__title {
        font-size: 18px;
        line-height: 28px;
    }

    .footer__wrapper {
        margin-bottom: 60px;
    }

    .orange-container {
        padding: 0 40px;
    }


    .wrapper__blockPhrase{
        height: 100%;
        margin: 60px 0 139px;
    }

    .section__title {
        font-size: 52px;
        line-height: 67px;
    }

    .family-list-elem-content {
        padding-bottom: 60px;
    }

    .question-symbol {
        font-size: 52px !important;
        line-height: 67px !important;
    }

    .wrapper__blockPhrase .blockPhrase{
        padding: 0;
    }

    .blockPhrase{
        justify-content: flex-start;
        margin-left: -40px !important;
        background-position-x: -47px;
        align-items:flex-start;
    }

    .tradeEverywhere,
    .takeItEasy{
        height: 606px;
    }
    .tradeEverywhere .blockPhrase,
    .takeItEasy .blockPhrase{
        padding: 120px 0 0px 0;
    }

    .blockPhrase__img{
        margin-left: -90px;
    }

    .blockPhrase .blockPhrase__phrase{
        font-size: 57px;
        line-height: 74px;
        margin-top: 40px !important;
        width: 90%;
    }

    .blockPhrase .blockPhrase__phrase{
        margin-top: 10px;
    }

    .blockPhrase .blockPhrase__phrase,
    .blockPhrase .blockPhrase__link{
        margin-left: 40px;
        text-align: left;
    }

    .blockPhrase__link{
        text-align: left;
        top: 486px;
    }

     .about {
        padding-top: 120px;
    }

    .startTrading__blockInformation{
        margin-top: 60px;
    }

    .blockInformation__boxImg,
    .startTrading__blockSteps{
        width: 100%;
    }

    .blockInformation__boxImg{
        margin-top: 71px;
    }

    .anim1 {
        left: 5px;
    }

    .startTrading, .about {
        padding-top: 100px;
    }

    .anim2 {
        display: none;
    }

    .anim3 {
        top: 120px;
        right: inherit;
        width: 130px;
        position: relative;
    }

    .takeiteasy-block {
        padding-bottom: 60px;
    }

    .anim4 {
        display: none;
    }

    .anim5 {
        display: none;
    }

    .tradeEverywhere,
    .takeItEasy{
        padding: 0;
    }

    .startTrading-blockSteps__list .list__item{
        padding: 0px;
    }

    .startTrading-blockSteps__list .list__item:nth-child(1),
    .startTrading-blockSteps__list .list__item:nth-child(2){
        margin-bottom: 95px;
    }

    .about__text{
        display: block;
    }

    .about__title{
        max-width: 100%;
        margin-bottom: 40px;
    }

    .about__blockText{
        max-width: 90%;
    }

    .about--startTrading{
        margin-top: 76px;
    }

    .start-block {
        padding-top: 80px;
    }

    .boxSteps{
        padding-bottom: 60px;
    }

    .boxSteps .step{
        max-width: 100%;
    }

    .step {
        padding: 0;
        margin-top: 90px;
    }


}

@media screen and (max-width: 660px) {

    .blockPhrase .blockPhrase__phrase{
        font-size: 47px;
        line-height: 60px;
    }

    .startTrading-blockSteps__list {
        display: block;
    }

    .footer {
        padding-bottom: 0px;
    }

    .startTrading-blockSteps__list .list__item {
        width: 100%;
    }

    .about__title {
        margin-bottom: 20px;
    }

    .about-blockText__text{
        font-size: 20px;
        line-height: 35px;
    }
    .startTrading__list .list__item {
        width: 45%;
    }

    .list__links .list-item{
        font-size: 18px;
        line-height: 24px;
    }

    .tradeEverywhere__image {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .main__form form {
        width: 100%;
    }

    input, .textarea {
        width: 93%;
    }

    .switch-platform-content-block {
        padding-left: 20px;
        padding-right: 20px;
    }

    .get-started-button {
        margin: 40px auto 0px 0px !important;
    }

    .choose-platform_button {
        margin: 40px auto 0 auto;
    }

    .contact-inner {
        margin-top: 100px;
    }

    .contact-title {
        padding-bottom: 60px;
    }

    .footer-nav-block {
        flex-direction: column;
    }

    .footer__nav a {
        margin-top: 10px;
    }

    .footer-nav-block {
        margin-top: 10px;
    }

    .hand-image {
        width: 50%;
    }

    .counter-static {
        width: 130px;
        min-width: auto;
    }

    .gradient-text {
        font-size: 52px;
        line-height: 66px;
    }

    .footer-nav-block {
        width: auto;
    }

    .issue-block-text {
        padding: 20px;
    }

    .counter-dynamic {
        width: auto;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 540px) {
    .startTrading__blockInformation {
        margin-top: 0px;
    }

    .start-block {
        padding-top: 0px;
    }

    .startTrading__blockInformation {
        padding-bottom: 515px;
    }

    .list__item {
        min-width: 300px !important;
    }

    .issue-block {
        width: auto;
    }

    .comment-section-title {
        max-width: 280px;
    }

    .blockPhrase .blockPhrase__phrase{
        font-size: 41px;
        line-height: 55px;
    }

    .start-block {
        padding-top: 80px !important;
    }

    .wrapper__blockPhrase .blockPhrase__img{
        height: 225px;
    }

    .section__title {
        font-size: 35px;
        line-height: 44px;
    }
    .startTrading-blockSteps__list .list__item {
        width: 100%;
    }

    .how-to-start-content {
        width: 100%;
    }

    .solve_block {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

@media screen and (max-height: 850px) {
    .header-mob-lang {
        bottom: 20px;
    }
}

@media screen and (max-height: 740px) {
    .mob-menu-item {
        margin-top: 26px;
    }

    .burger-content-block {
        margin-top: 0px;
    }
}

@media screen and (max-width: 479px) {
    .dark-container,
    .light-container {
        padding: 0 20px;
    }

    .list-item__link {
        font-family: Mont-Bold, sans-serif;
        font-size: 16px;
        line-height: 27px;
    }

    .list__links .list-item {
        padding: 0px;
    }

    .issue-block-title {
        padding-bottom: 0px;
    }

    .solve_block {
        padding-bottom: 0px;
        padding-top: 20px;
        margin-top: 100px;
    }


    .comment-section {
        margin-top: 100px;
    }

    .comment-text {
        font-size: 16px;
        line-height: 26px;
    }

    .comment-block {
        width: 100% !important;
    }

    button.owl-prev, button.owl-next {
        width: 50px;
        height: 50px;
    }

    .commentator-name {
        font-size: 14px;
        line-height: 18px;
    }

    .comment-section-title {
        margin-top: 20px;
    }

    .our_team-title {
        max-width: 280px;
    }

    .counters_block {
        padding-bottom: 0px;
    }

    .cell:first-child {
        margin-bottom: 60px;
    }

    .takeiteasy-block {
        padding-bottom: 60px;
    }

    .cell {
        border: none;
        margin-bottom: 60px;
        padding-bottom: 0px;
    }

    .tradeEverywhere-button {
        display: block;
        text-align: center;
    }

    .tradeEverywhere-buttonLink {
        width: 100%;
    }

    .orange-container {
        padding: 0 20px;
    }

    .wrapper__blockPhrase{
        margin: 0;
    }

    .blockPhrase {
        background-size: contain;
        background-position-y: 0;
        padding: 60px 0 0 0 ;
    }

    .tradeEverywhere .blockPhrase,
    .takeItEasy .blockPhrase {
        padding: 60px 0;
    }

    .tradeEverywhere,
    .takeItEasy{
        height: 334px;
    }

    .number-style {
        font-size: 42px;
        line-height: 52px;
    }



    .blockPhrase__img {
        height: 147px !important;
        margin-left: -10px;
    }

    .blockPhrase .blockPhrase__phrase {
        font-size: 32px;
        line-height: 44px;
        margin-top: 10px !important;
    }

    .blockPhrase__link {
        margin-top: 0px;
        top: 274px;
        font-size: 20px;
        line-height: 19px;
    }

    .section__title {
        font-size: 26px;
        line-height: 36px;
    }

    .easy-step {
        max-width: 280px;
    }

    .desc-arrow {
        display: none;
    }

    .mobile-arrow {
        display: block;
        bottom: 19px;
        right: -29px;
    }

    .trade-arrow {
        right: -20px;
    }

    .question-symbol {
        font-size: 32px !important;
        line-height: 41px !important;
    }

    .startTrading {
        padding-top: 190px;
    }

    .tradeEverywhere__title {
        margin-bottom: 0px;
    }

    .tradeEverywhere__title-device {
        margin-bottom: 30px;
    }

    .step {
        margin-bottom: 0px;
    }

    .download-title {
        text-align: inherit;
    }

    .startTrading-blockSteps__list .list__item {
        width: 95%;
    }


    .blockInformation__boxImg{
        width: 90%;
    }

    .blockInformation__boxImg .blockInformation-boxImg__img{
        width: 100%;
    }

    .startTrading-blockSteps__list .item__text {
        font-size: 12px;
        line-height: 20px;
    }

    .how-to_image {
        left: -8%;
        bottom: -4%;
    }

    .how-to_image img {
        width: 75%;
    }

    .startTrading-blockSteps__list .list__item .item__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 13.65px;
    }

    .blockInformation__boxImg {
        max-width: inherit;
    }

    .about{
        padding-top: 112px;
    }

    .about-blockText__text{
        font-size: 16px;
        line-height: 28px
    }

    .about__blockText {
        max-width: 100%;
    }

    .about--startTrading{
        margin: 0;
        padding-bottom: 94px;
    }

    .about--startTrading .list__item{
        width: 90%;
        margin: 60px 0 0 0 !important;
    }

    .about--startTrading  .wrapper__list-item{
        max-width: inherit;
    }

    .about--startTrading .list__item .number--outline{
        margin-bottom: 24px;
    }

    .about--startTrading .list__item .item__subtitle{
        margin-bottom: 14px;
    }

    .boxSteps{
        padding-bottom: 30px;
    }

    .boxSteps .step{
       flex-direction: column;
    }

    .boxSteps .step .step__number,
    .boxSteps .step .step__info{
        width: 100%;
    }

    .boxSteps .step .step__info{
        margin-top: 31px;
    }

    .downloadDocuments{
        padding: 50px 0 0 0 !important;
    }

    .issue-block-title {
        font-size: 24px;
        line-height: 30px;
    }

    .issue-block-text {
        font-size: 16px;
        line-height: 26px;
    }

    .wrapper-links {
        margin-top: 30px;
    }

    .capital-trading__image {
        width: 100% !important;
        top: 34%;
    }

    .why_block {
        padding-top: 41px;
    }

    .start-block {
        padding-top: 41px !important;
    }
}

@media screen and (max-width: 1410px) {
    .tt{display: flex;}
    .mb{display: none;}

    .contactUs__main{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .main__contacts{
        flex-wrap: wrap;
        margin-top: 90px;
        margin-left: 5px;
        padding-left:2px;
        margin-bottom: 20px;
    }

    .footer__wrapper {
        margin-bottom: 60px;
    }

    .main__form{
        width:100%;
        margin-right: 0px;
    }
    .new__title{
        left:0;
    }
    .new{
        margin-top: 50px;
    }
    .news__wrapper > .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news__wrapper > .row:first-child{
        align-items: flex-start;
    }
    .footer .row{
        align-items: flex-start;
    }
    .mySlides .slide-card{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .main__form .row{
        flex-direction: row;
    }

    .list__links{
        margin-right: 40px;
    }
    .list__links:last-child{
        margin-right: 0px;
    }
    footer .row .copyright{
        width: 100%;
    }
    footer .row .terms{
        width: 100%;
        justify-content: flex-start;
    }
    .copyright{
        margin-bottom: 16px;
    }
    .cell:first-child{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1360px) {
    .view-all-news{
        position: relative;
        display: none;
    }
    .row input[type="button"]{
        margin-top: 50px;
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 1037px) {
    footer .row{
        flex-direction: column;
    }
    .terms{
        display: flex;
        width: 100%;
    }
    .term{
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .row-comment{
        flex-direction: column;
    }
    .mySlides .wrapper__list{
        flex-direction: row;
        justify-content: center;
    }
    .mySlides .list__links{
        padding-top: 60px;
        justify-self: center;
    }
}

@media screen and (max-width: 765px) {
    .tt{display: none;}
    .mb{display: block;}

    #news-pic1, #news-pic2{
        width: 100%;
        display: block;
    }

    .wrapper__comment p{
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
    }
    .wrapper__comment::before {
        margin-left: -35px;
        margin-top: -10px;
        font-size:52px;
    }

    .footer{
        padding-top: 40px;
    }

    .main__contacts{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0;
    }
    .main__contacts .cell{
        width: 100%;
    }
    .new__date{
        padding-top:60px;
    }
    .new__date{
        left:0;
    }
    .new:first-child{
        margin-bottom: 50px;
    }
    .copyright{
        margin-bottom: 16px;
    }
    .term{
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 709px){
    .terms{
        flex-direction: column;
    }
    footer .row{
        flex-direction: column-reverse;
    }
}



@media screen and (max-width: 537px){
    #desctop_list{
        display: none;
    }
    #mobile_list{
        display: block;
    }
    .list__links{
        margin: 0px;
    }
    .wrapper__comment::before {
        margin-left: 0px;
        margin-top: 3px;
        font-size:52px;
    }

    .main__form .row{
        flex-direction: column;
    }
    .row  #name, .row #email {
        margin: 0;
    }

    .footer .item__title{
        font-weight: 800;
        font-size: 20px;
        line-height: 28px;
    }

    .wrapper__comment p{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin-top: 31px;
    }
    .comments__wrapper .section__title {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .terms{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .term{
        margin-bottom: 24px;
    }
    footer .row:last-child{
        flex-direction: column-reverse;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: column;
    }
    .info__first{
        color:inherit;
        width: 100%;
        margin-right: 0;
    }
    .info__second{
        width: 100%;
        margin-left: 0;
        margin-top:30px;
    }
    .cell{
        margin-top:0px;
    }

}

@media screen and (max-width: 321px){
    #news-pic1, #news-pic2{
        display: none;
    }
    .mbb{
        display: block;
    }
}

@media screen and (min-width: 700px) {
    .tabBlock-tab {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
