.nav-title {
    display: none;
}

.menu-button {
    display: none;
}

.logo {
    display: block;
}

.min-640-menu {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-menu {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.open-menu a {
    color: #ebebeb;
    text-decoration: none;
}

.header-block {
    height: 97px;
}

h1 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    padding-bottom: 57px;
}

.main-link {
    font-size: 34px;
    font-weight: 700;
}

.main-section-content {
    padding-top: 64px;
    padding-left: 30px;
    padding-bottom: 260px;
}

.main-section {
    margin-bottom: 6px;
}

.pizza-category {
    display: flex;
}

.product-block {
    width: 33%;
    height: 327px;
}

.last-product-block {
    width: 34%;
}

.pizza {
    background-image: url(../img/Pizza_delivery_fon.png);
    background-position: center;
}

.salads {
    background-image: url(../img/UAUX_Salads_fon.png);
    background-position: center;
}

.desserts {
    background-image: url(../img/Desserts_fon.png);
    background-position: center;
}

.arrow {
    display: none;
}

.category-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
}

.motto {
    font-size: 34px;
    padding-left: 0;
    margin-top: 72px;
    margin-bottom: 10px;
}

.motto-postscript {
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 21px;
}

.motto-flex-logo {
    display: block;
    margin-top: 52px;
}

.blocks-menu {
    display: flex;
}

.first-block {
    width: 50%;
}

.second-block {
    width: 50%;
}

.container {
    width: 93%;
}

.text_of_menu {
    font-size: 34px;
    padding-top: 27px;
    padding-bottom: 23px;
}

.tincidunt {
    margin-bottom: 29px;
}

.pizza-icon {
    width: 42px;
    height: 42px;
}

.title-section {
    font-size: 26px;
}

.menu-section {
    margin-bottom: 35px;
}

.item-name {
    font-size: 24px;
}

.price {
    font-size: 24px;
}

.description {
    font-size: 16px;
}

.item_and_price {
    margin-bottom: 17px;
}

.description {
    margin-bottom: 24px;
}

.wine_icon {
    width: 25px;
    height: 44px;
}

.vestibulum {
    margin-bottom: 29px;
}

.cap_icon {
    width: 56px;
    height: 39px;
    margin-top: 3px;
}

.beer-icon {
    width: 40px;
    height: 39px;
    margin-top: 5px;
}

.footer-block {
    height: 97px;
}

.footer-flex-block {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.footer-text {
    display: none;
}
